# Google Apps Script Web App URL
VITE_GOOGLE_SHEET_API_URL=https://script.google.com/macros/s/AKfycbwSan-mqGy3I5FuRNv6wfdeuOSlJJCkU3pULz9Z74ESaK4r2FlYULxUxS963Y4M17D5/exec

# Gemini API Key (If needed for AI features)
GEMINI_API_KEY=
