@import "tailwindcss";

@theme {
  --font-sans: "Pretendard", ui-sans-serif, system-ui, sans-serif;
}

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: #f8fafc;
}
